fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib
python-jose
starlette
cryptography
bcrypt
jose
databases 
asyncpg
aiomysql
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
alembic
werkzeug
aiofiles